<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Hello Thymeleaf</title>
  </head>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <body>
    <div class="container">
      
      <div class="my-5">
        <a href="/" class="btn btn-primary">戻る</a>
        <h1 class="my-2">CP発行残高一覧 (億円)</h1>
        <table class="table table-borderd table-striped">
          <tr>
            <th scope="col" class="issure-column">発行体名</th>
            <span th:each="workday : ${workdays}">
              <th scope="col" class="th-cp-list" th:text="${#dates.format(workday,'yy/MM/dd')}"></th> 
            </span>
          </tr>
          <tr th:each="cpDailyAmount : ${cpDailyAmounts}">
            <td scope="row" th:text="${cpDailyAmount.name}"></td>
            <span th:each="dailyAmount : ${cpDailyAmount.dailyAmounts}">
              <td class="text-right" th:text="${#numbers.formatInteger(dailyAmount/100, 1, 'COMMA')}"></td>
            </span>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>

<style scoped>
  .issure-column {
    width: 25rem;
  }
  .text-right {
    text-align: right;
  }
  .th-cp-list {
    text-align: center;
  }
</style>